<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Product Page - Admin HTML Template</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700" />

  <!-- https://fonts.google.com/specimen/Roboto -->
  <link rel="stylesheet" href="/product-admin-master/css/fontawesome.min.css" />
  <!-- https://fontawesome.com/ -->
  <link rel="stylesheet" href="/product-admin-master/css/bootstrap.min.css" />
  <!-- https://getbootstrap.com/ -->
  <link rel="stylesheet" href="/product-admin-master/css/templatemo-style.css">
  <link rel="stylesheet" href="//cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
  <!--
	Product Admin CSS Template
	https://templatemo.com/tm-524-product-admin
	-->
</head>

<body id="reportsPage">
  <nav class="navbar navbar-expand-xl">
    <div class="container h-100">
      <a class="navbar-brand" href="index.html">
        <h1 class="tm-site-title mb-0">Admin</h1>
      </a>
      <button class="navbar-toggler ml-auto mr-0" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <i class="fas fa-bars tm-nav-icon"></i>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto h-100">
          <li class="nav-item">
            <a class="nav-link" href="/admin/AdminPanel">
              <i class="fas fa-tachometer-alt"></i> DASHBOARD
              <span class="sr-only">(current)</span>
            </a>
          </li>
          {{!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <i class="far fa-file-alt"></i>
              <span> Reports <i class="fas fa-angle-down"></i> </span>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Daily Report</a>
              <a class="dropdown-item" href="#">Weekly Report</a>
              <a class="dropdown-item" href="#">Yearly Report</a>
            </div>
          </li> --}}
          <li class="nav-item">
            <a class="nav-link " href="/admin/products">
              <i class="fas fa-shopping-cart"></i> PRODUCTS
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/orderList">
              <i class="fas fa-shopping-cart"></i> ORDERS
            </a>
          </li>

          {{!-- <li class="nav-item">
            <a class="nav-link" href="accounts.html">
              <i class="far fa-user"></i> Accounts
            </a>
          </li> --}}
          <li class="nav-item">
            <a class="nav-link" href="/admin/user-list">
              <i class="far fa-user"></i>
              USERS
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/admin/Banner">
              <i class="far fa-window-restore"></i>
              BANNERS & COUPONS
            </a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-gift" aria-hidden="true"></i>
              <span>
                OFFERS
              </span>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/admin/offers">Add Offers</a>
              <a class="dropdown-item" href="/admin/applyOffer">Apply Offers</a>
            </div>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link d-block" href="/admin/logout">
              <b>Logout</b>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="mx-5 mt-5 ">
    <div class="row tm-content-row d-flex justify-content-center">
      <div class="col-sm-12 col-md-12 col-lg-6  col-xl-6 tm-block-col">
        <div class="tm-bg-primary-dark tm-block " style="min-height: 356px;">
           <h2 class="tm-block-title">BANNERS</h2>
          <div class="tm-product-table-container">
            <table id="myTable" class="table table-hover tm-table-small tm-product-table">
              <thead>
                <tr>
                  {{!-- <th scope="col">&nbsp;</th> --}}

                  <th scope="col">SL.NO</th>
                  <th scope="col">BANNER HEAD</th>
                  <th scope="col">BANNER MAIN</th>
                  <th scope="col">IMAGE</th>
                  <th scope="col">ACTION</th>
                </tr>
              </thead>
              <tbody>

                <tr>
                  {{!-- <th scope="row"><input type="checkbox" /></th> --}}
                  <td>1</td>
                  <td class="tm-product-name font-weight-light">{{banner.header}}</td>
                  <td class="tm-product-name font-weight-light">{{banner.main}}</td>


                  <td><img class="rounded" style="width: 50px;height: 50px" src="/banner_img/{{banner._id}}.jpg" alt="">
                  </td>
                  <td><a class="btn btn-warning btn-sm px-2 py-2 rounded" href="/admin/EditBan/{{this._id}}">Edit</a>
                  </td>

                  {{!-- <td>
                    <a onclick="return confirm('are you sure to delete'+ {{this.name}})"
                      href="/admin/del-pro/{{this._id}}" class="tm-product-delete-link">
                      <i class="far fa-trash-alt tm-product-delete-icon"></i>
                    </a>
                  </td> --}}
                </tr>

              </tbody>
            </table>
          </div>


          <button type="button" class="btn btn-primary btn-block text-uppercase mb-3" data-toggle="modal"
            data-target="#exampleModal" data-whatever="@mdo">ADD BANNERS</button>
          {{!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
            data-bs-whatever="@fat">Open modal for @fat</button>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
            data-bs-whatever="@getbootstrap">Open modal for @getbootstrap</button> --}}

          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">BANNER</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                  <span aria-hidden="true">&times;</span>
                </div>
                <div class="modal-body">
                  <form action="/admin/banner_data" method="post" enctype="multipart/form-data">
                    <div class="mb-3">
                      <label for="recipient-name" class="col-form-label">Header:</label>
                      <input type="text" name="header" onkeyup="validHeader()" class="form-control" id="f1">
                      <span class="text-danger" id="ERR_1" style="font-size: smaller;" ></span>
                    </div>
                    <div class="mb-3">
                      <label for="message-text" class="col-form-label">Main Head:</label>
                      <textarea name="main" onkeyup="validMain()" class="form-control" id="f2"></textarea>
                      <span class="text-danger" id="ERR_2" style="font-size: smaller;"></span>
                    </div>
                    <div class="mb-3">
                      <label for="image" class="text-white">Image</label>
                      <input type="file" name="image"  required>
                    </div>
                     <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" onclick="return validate()"  class="btn btn-primary">Submit</button>
                </div>
                  </form>
                </div>
               
              </div>
            </div>
          </div>
          {{!-- <button class="btn btn-primary btn-block text-uppercase">
            Delete selected products
          </button> --}}
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4 tm-block-col">
        <div class="tm-bg-primary-dark tm-block" style="min-height: 356px;">
          <h2 class="tm-block-title">COUPONS</h2>
          <div class="tm-product-table-container">
            <table class="table tm-table-small tm-product-table">
              <tbody>

                <tr>
                  <th scope="col">SL.NO</th>
                  <th scope="col">COUPON CODE</th>
                  <th scope="col">OFFER</th>
                  <th scope="col">VALIDITY</th>
                  <th scope="col">ACTION</th>

                </tr>

              </tbody>
              <tbody>
                {{#each Coupons}}
                <tr>
                  
                  <td>{{inc @index}}</td>
                  <td class="tm-product-name font-weight-light">{{this.Coupon_Name}}</td>
                  <td class="tm-product-name font-weight-light">{{this.Coupon_Value}}%</td>
                  <td class="tm-product-name font-weight-light">{{this.Coupon_Date}}</td>
                  


                  <td><a class="btn btn-warning btn-sm px-2 py-2 rounded" href="/admin/edit-pro/{{this._id}}">Edit</a>
                  </td>


                </tr>
                {{/each}}
              </tbody>

            </table>
          </div>
          <!-- table container -->
          <button type="button" class="btn btn-primary btn-block text-uppercase mb-3" data-toggle="modal" data-target="#exampleModalB">
            ADD COUPON
          </button>

          <!-- Modal -->
          <div class="modal fade" id="exampleModalB" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">ADD COUPON</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                   <span aria-hidden="true">&times;</span>
                </div>
                <div class="modal-body">
                  <form action="/admin/Coupon" method="post" >
                    <div class="mb-3">
                      <label for="recipient-name" class="col-form-label">Coupon Name:</label>
                      <input type="text" name="Coupon_Name" onkeyup="validCouponName()" class="form-control" id="B1">
                      <span id="NO_1" class="text-danger" style="font-size: smaller;"></span>
                    </div>
                   <div class="mb-3">
                      <label for="recipient-name" class="col-form-label">Offer:</label>
                      <input type="text" name="Coupon_Value" onkeyup="validCouponValue()" class="form-control" id="B2">
                      <span id="NO_2" class="text-danger" style="font-size: smaller;"></span>
                    </div>
                   <div class="mb-3">
                      <label for="recipient-name" class="col-form-label">Validity:</label>
                      <input type="date" name="Coupon_Date" onkeyup="validValidity()" class="form-control" id="B3">
                      <span id="NO_3" class="text-danger" style="font-size: smaller;"></span>
                    </div>
                    </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" onclick="return validation()" class="btn btn-primary">ADD</button>
                </div>
                
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    {{!-- >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> --}}

  </div>
  {{!-- <footer class="tm-footer row tm-mt-small">
    <div class="col-12 font-weight-light">
      <p class="text-center text-white mb-0 px-4 small">
        Copyright &copy; <b>2018</b> All rights reserved.

        Design: <a rel="nofollow noopener" href="https://templatemo.com" class="tm-footer-link">Template Mo</a>
      </p>
    </div>
  </footer> --}}
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
    integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
    integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>


  <script src="/product-admin-master/js/jquery-3.3.1.min.js"></script>
  <!-- https://jquery.com/download/ -->
  <script src="/product-admin-master/js/bootstrap.min.js"></script>
  <!-- https://getbootstrap.com/ -->
  <script src="//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <script>
    $(document).ready(function () {
      $('#myTable').DataTable();
    });
  </script>
  <script>
    var Handlebars = require('handlebars');

    Handlebars.registerHelper("inc", function (value, options) {
      return parseInt(value) + 1;
    });
  </script>
  {{!--
  <script>
    $(document).ready(function () {
      $('#usersTable').DataTable();
    });

    function addRowCount(tableAttr) {
      $(tableAttr).each(function () {
        $('th:first-child, thead td:first-child', this).each(function () {
          var tag = $(this).prop('tagName');
          $(this).before('<' + tag + '>Sl No</' + tag + '>');
        });
        $('td:first-child', this).each(function (i) {
          $(this).before('<td>' + (i + 1) + '</td>');
        });
      });
    }

    addRowCount('.table');

  </script> --}}
  <script>
    $(function () {
      $(".tm-product-name").on("click", function () {
        window.location.href = "edit-product.html";
      });
    });
  </script>
  <script>
    
    function validHeader(){
    let value=document.getElementById('f1').value
    let ERROR=document.getElementById('ERR_1')
      if(value==""){
        ERROR.innerHTML="PLEASE FILL THE FIELD"
        return false;
      }
      if(!value.match(/^[a-zA-Z-" "]*$/)){
        ERROR.innerHTML="ONLY ALPHABETS ARE ALLOWED"
        return false;
      }
      ERROR.innerHTML=""
      return true;
    }
    function validMain(){
    let value=document.getElementById('f2').value
    let ERROR=document.getElementById('ERR_2')
      if(value==""){
      ERROR.innerHTML="PLEASE FILL THE FIELD"
      return false;
      }
      if(!value.match(/^[a-zA-Z-" "]*$/)){
      ERROR.innerHTML="ONLY ALPHABETS ARE ALLOWED"
      return false;
      }
      ERROR.innerHTML=""
      return true;
    }
    function validCouponName(){
    let value=document.getElementById('B1').value
    let ERROR=document.getElementById('NO_1')
    if(value==""){
    ERROR.innerHTML="PLEASE FILL THE FIELD"
    return false;
    }
    ERROR.innerHTML=""
    return true;
    }
    function validCouponValue(){
    let value=document.getElementById('B2').value
    let ERROR=document.getElementById('NO_2')
    if(value==""){
    ERROR.innerHTML="PLEASE FILL THE FIELD"
    return false;
    }
    if(!value.match(/^[0-9]/)){
    ERROR.innerHTML="ONLY NUMBERS ARE ALLOWED"
    return false;
    }
    ERROR.innerHTML=""
    return true;
    }
    function validValidity(){
    let value=document.getElementById('B1').value
    let ERROR=document.getElementById('NO_1')
    if(value==""){
    ERROR.innerHTML="PLEASE FILL THE FIELD"
    return false;
    }
    ERROR.innerHTML=""
    return true;
    }
    function validate(){
      if(!validHeader()||!validMain()){
        return false
      }
      return true;
    }
    function validation(){
      if(!validCouponName()||!validCouponValue()||!validValidity()){
        return false;
      }
      return true;
    }
  </script>
</body>
</html>