<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>ADDRESS</h4>
                    <div class="breadcrumb__links">
                        <a href="./index.html">Home</a>
                        <a href="./shop.html">Profile</a>
                        <span>Address</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Shopping Cart Section Begin -->
<section class="shopping-cart spad">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 rounded shadow-lg" style="background-color: #f3f2ee;">
                <div class="shopping__cart__table p-3">
                    <table>
                        <thead>
                            <tr>
                                <th>SL.NO</th>
                                <th class="px-5">ADDRESS</th>
                                <th>ACTION</th>

                            </tr>
                        </thead>
                        {{#each data}}

                        <tbody>


                            <tr>
                                <td>
                                    {{inc @index}}.

                                </td>
                                <td class="product__cart__item">
                                    <div class="product__cart__item__text px-5">
                                        <h6 id="hai{{this._id}}">{{this.name}}<br>{{this.country}},{{this.STaddress}}<br>{{this.APaddress}},{{this.Town_city}}<br>{{this.email}},{{this.phone}}
                                        </h6>

                                    </div>
                                </td>

                                <td><a class="btn btn-dark text-white" data-toggle="modal" data-target="#D{{this._id}}">
                                        Edit
                                    </a>


                                </td>




                                {{!--
                                <td id="{{this.product.name}}" class="cart__price">{{this.total}}</td>
                                <td onclick="removePro('{{this._id}}','{{this.items}}')" class="cart__close"><i
                                        class="fa fa-close"></i></td> --}}

                            </tr>


                        </tbody>
                        {{/each}}
                    </table>
                    {{#each data}}
                    <div class="modal fade" id="D{{this._id}}" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">EDIT</h5>
                                    <button type="button" id="into{{this._id}}" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form id="addressPRO{{this._id}}" >
                                <div class="modal-body">
                                    <div class="col-lg-12 col-md-6">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="checkout__input">
                                                    <p>Name<span>*</span><span class="text-danger" id="ERR_1{{this._id}}"></span>
                                                    </p>
                                                    <input type="text" id="f1{{this._id}}" class="text-dark" name="name"
                                                        value="{{this.name}}" onkeyup="validName('{{this._id}}')">
                                                    <input type="text"  class="text-dark" name="AID"
                                                        value="{{this._id}}" hidden>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="checkout__input">
                                            <p>Country<span>*</span><span class="text-danger" id="ERR_3{{this._id}}"></span></p>
                                            <input type="text" id="f3{{this._id}}" name="country" value="{{this.country}}"
                                                class="text-dark" onkeyup="validCountry('{{this._id}}')">

                                        </div>
                                        <div class="checkout__input">
                                            <p>Address<span>*</span><span class="text-danger" id="ERR_4{{this._id}}"></span></p>
                                            <input type="text" placeholder="Street Address" value="{{this.STaddress}}"
                                                class="text-dark" id="f4{{this._id}}" onkeyup="validStreet('{{this._id}}')" name="STaddress"
                                                class="checkout__input__add">
                                            <span class="text-danger" id="ERR_5{{this._id}}"></span>
                                            <input type="text" name="APaddress" value="{{this.APaddress}}"
                                                class="text-dark" id="f5{{this._id}}" onkeyup="validAP('{{this._id}}')"
                                                placeholder="Apartment, suite, unite ect (optinal)">

                                        </div>
                                        <div class="checkout__input">
                                            <p>Town/City<span>*</span><span class="text-danger" id="ERR_6{{this._id}}"></span></p>
                                            <input type="text" id="f6{{this._id}}" class="text-dark" onkeyup="validCity('{{this._id}}')"
                                                name="Town_city" value="{{this.Town_city}}">

                                        </div>

                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="checkout__input">
                                                    <p>Phone<span>*</span><span class="text-danger" id="ERR_9{{this._id}}"></span>
                                                    </p>
                                                    <input type="number" class="text-dark" id="f9{{this._id}}"
                                                        onkeyup="validPhone('{{this._id}}')" name="phone" value="{{this.phone}}">

                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="checkout__input">
                                                    <p>Email<span>*</span><span class="text-danger" id="ERR_10{{this._id}}"></span>
                                                    </p>
                                                    <input type="text" id="f10{{this._id}}" onkeyup="validEmail('{{this._id}}')" name="email"
                                                        value="{{this.email}}">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button  type="submit"  onclick="return validation('{{this._id}}')" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                            </form>
                        </div>
                    </div>
                    {{/each}} 
                </div>
            </div>
        </div>
    </div>
</section>

<script>
   
    function validName(id){
        let value=document.getElementById('f1'+id).value
        let ERR=document.getElementById('ERR_1'+id)
        if(value==""){
        ERR.innerHTML="PLEASE FILL THE FIELDS"
        return false;
        }
        if(!value.match(/^[a-zA-Z]*$/)){
            ERR.innerHTML="ONLY ALPHABETS ARE ALLOWED"
            return false;
        }
        ERR.innerHTML=""
        return true;
    }
    function validCountry(id){
        let value=document.getElementById('f3'+id).value
        let ERR=document.getElementById('ERR_3'+id)
        if(value==""){
        ERR.innerHTML="PLEASE FILL THE FIELDS"
        return false;
        }
        
        if(!value.match(/^[a-zA-Z]*$/)){
            ERR.innerHTML="ONLY ALPHABETS ARE ALLOWED"
            return false;
        }
        ERR.innerHTML=""
        return true;
    }
    function validStreet(id){
        let value=document.getElementById('f4'+id).value
        let ERR=document.getElementById('ERR_4'+id)
        if(value==""){
        ERR.innerHTML="PLEASE FILL THE FIELDS"
        return false;
        }
        ERR.innerHTML=""
        return true;
    }
    function validAP(id){
        let value=document.getElementById('f5'+id).value
        let ERR=document.getElementById('ERR_5'+id)
        if(value==""){
        ERR.innerHTML="PLEASE FILL THE FIELDS"
        return false;
        }
        ERR.innerHTML=""
        return true;
    }
    function validCity(id){
        let value=document.getElementById('f6'+id).value
        let ERR=document.getElementById('ERR_6'+id)
        if(value==""){
        ERR.innerHTML="PLEASE FILL THE FIELDS"
        return false;
        }
        ERR.innerHTML=""
        return true;
    }
    function validPhone(id){
        let value=document.getElementById('f9'+id).value
        let ERR=document.getElementById('ERR_9'+id)
        if(value==""){
        ERR.innerHTML="PLEASE FILL THE FIELDS"
        return false;
        }
        if(!value.match(/^\d{10}$/)){
        ERR.innerHTML="Enter Valid Number"
        return false;
        }
        ERR.innerHTML=""
        return true;
    }
    function validEmail(id){
        let value=document.getElementById('f10'+id).value
        let ERR=document.getElementById('ERR_10'+id)
        if(value==""){
        ERR.innerHTML="PLEASE FILL THE FIELDS"
        return false;
        }
        if(!value.match(/^\w+([\.-]?\w+)@\w+([\.-]?\w+)(\.\w{2,3})+$/)){
        messg.innerHTML="Please enter valid email"
        return false;
        }
        ERR.innerHTML=""
        return true;
    }
    function validation(id){
         console.log('666666666666')
    if(!validName(id)||!validCountry(id)||!validStreet(id)||!validAP(id)||!validCity(id)||!validPhone(id)||!validEmail(id)){
        console.log('5254556699')
     return false;
     }
     b(id)
}
</script>