
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Check Out</h4>
                        <div class="breadcrumb__links">
                            <a href="./index.html">Home</a>
                            <a href="./shop.html">Shop</a>
                            <span>Check Out</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Checkout Section Begin -->
    <section class="checkout spad">
        <div class="container">
            <div class="checkout__form">
                
                <form action="" id="checkOut">
                    <div class="row">
                        <div class="col-lg-7 col-md-6">
                            {{#if Address}}
                            <button class="btn btn-dark coupon__code py-1 px-2" type="button" data-toggle="collapse"
                                data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                Saved Address
                            </button>
                            {{/if}}
                            <div class="collapse"  id="collapseExample">
                                <div class="card card-body" style="background-color: #f3f2ee;">
                                    
                                        <p class="font-weight-bold">Select One Address:</p>

                                        {{#each Address}}
                                        <input style="width: 11px;" type="radio" id="age1" name="radio" value="{{this._id}}">
                                        <label  for="age2">{{this.name}}<br>{{this.country}},{{this.STaddress}}<br>{{this.APaddress}},{{this.Town_city}}<br>{{this.email}},{{this.phone}}</label><br>
                                        <hr>
                                        {{/each}}
                                        {{!-- <input type="radio" id="age2" name="age" value="60">
                                        <label for="age2">31 - 60</label><br>
                                        <input type="radio" id="age3" name="age" value="100">
                                        <label for="age3">61 - 100</label><br><br> --}}
                                        
                                    
                                </div>
                            </div>
                            <h6 class="checkout__title">Billing Details</h6>
                            <input type="radio" id="billing" name="radio" value="true" checked>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Fist Name<span>*</span><span class="text-danger" id="ERR_1"></span></p>
                                        <input type="text" id="f1" class="text-dark" name="name" value="{{radio.name}}" onkeyup="validName()">
                                        <input type="text" name="user" value="{{acc._id}}" hidden>

                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Last Name<span>*</span><span class="text-danger" id="ERR_2"></span></p>
                                        <input type="text" id="f2" class="text-dark"  name="lastName"
                                            onkeyup="validLname()">

                                    </div>
                                </div>
                            </div>
                            <div class="checkout__input">
                                <p>Country<span>*</span><span class="text-danger" id="ERR_3"></span></p>
                                <input type="text" id="f3" name="country"  class="text-dark" onkeyup="validCountry()">

                            </div>
                            <div class="checkout__input">
                                <p>Address<span>*</span><span class="text-danger" id="ERR_4"></span></p>
                                <input type="text" placeholder="Street Address"  class="text-dark" id="f4"
                                    onkeyup="validStreet()" name="STaddress" class="checkout__input__add">
                                <span class="text-danger" id="ERR_5"></span>
                                <input type="text" name="APaddress"  class="text-dark" id="f5" onkeyup="validAP()"
                                    placeholder="Apartment, suite, unite ect (optinal)">

                            </div>
                            <div class="checkout__input">
                                <p>Town/City<span>*</span><span class="text-danger" id="ERR_6"></span></p>
                                <input type="text" id="f6" class="text-dark"  onkeyup="validCity()" name="Town_city">

                            </div>
                            <div class="checkout__input">
                                <p>Country/State<span>*</span><span class="text-danger" id="ERR_7"></span></p>
                                <input type="text" id="f7" class="text-dark"  onkeyup="validState()"
                                    name="Country_state">

                            </div>
                            <div class="checkout__input">
                                <p>Postcode / ZIP<span>*</span><span class="text-danger" id="ERR_8"></span></p>
                                <input type="number" id="f8" class="text-dark"  onkeyup="validPost()" name="postCode">

                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Phone<span>*</span><span class="text-danger" id="ERR_9"></span></p>
                                        <input type="number" class="text-dark" id="f9"  onkeyup="validPhone()"
                                            name="phone">

                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Email<span>*</span><span class="text-danger" id="ERR_10"></span></p>
                                        <input type="text" id="f10"  onkeyup="validEmail()" name="email">

                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div>
                                        <input type="checkbox" id="html" name="savedaddress" value="save">
                                        <label for="html">Save Address</label><br>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="checkout__order">
                                <h4 class="order__title">Your order</h4>
                                <div class="checkout__order__products">Product <span>Total</span></div>
                                <ul class="checkout__total__products">
                                    {{#each products}}
                                    <li>{{inc @index}} {{this.product.name}}<span>{{this.total}}</span></li>
                                    {{!-- <li>02. German chocolate <span>$ 170.0</span></li>
                                    <li>03. Sweet autumn <span>$ 170.0</span></li>
                                    <li>04. Cluten free mini dozen <span>$ 110.0</span></li> --}}
                                    {{/each}}
                                </ul>
                                <ul class="checkout__total__all">
                                    <li>Total <span>{{preDeduction}}</span></li>
                                    <li>Offer <span>{{offer}}</span><span>-</span></li>
                                    <li>Coupon <span>{{value}}</span><span>-</span></li>
                                    <li>Subtotal <span>{{total}}</span></li>
                                    
                                    {{!-- <li>Total <span>$750.99</span></li> --}}
                                </ul>
                                <div class="checkout__input__checkbox">
                                    <label for="acc-or">
                                        Create an account?
                                        <input type="checkbox" id="acc-or">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <p>Choose your payment method.
                                </p>
                                <div class="checkout__input__checkbox">
                                    <label for="payment">
                                        COD
                                        <input name="paymentMethod" type="radio" value="COD" id="payment" checked>
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="checkout__input__checkbox">
                                    <label for="paypal">
                                        Online Payment
                                        <input name="paymentMethod" type="radio" value="Razor" id="paypal">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="checkout__input__checkbox">
                                    <label for="p">
                                        PayPal
                                        <input name="paymentMethod" type="radio" value="paypal" id="p">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <button type="submit" onclick="return valid()" class="site-btn">PLACE ORDER</button>
                           
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- Checkout Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="#"><img src="img/footer-logo.png" alt=""></a>
                        </div>
                        <p>The customer is at the heart of our unique business model, which includes design.</p>
                        <a href="#"><img src="img/payment.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Clothing Store</a></li>
                            <li><a href="#">Trending Shoes</a></li>
                            <li><a href="#">Accessories</a></li>
                            <li><a href="#">Sale</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Payment Methods</a></li>
                            <li><a href="#">Delivary</a></li>
                            <li><a href="#">Return & Exchanges</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <h6>NewLetter</h6>
                        <div class="footer__newslatter">
                            <p>Be the first to know about new arrivals, look books, sales & promos!</p>
                            <form action="#">
                                <input type="text" placeholder="Your email">
                                <button type="submit"><span class="icon_mail_alt"></span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="footer__copyright__text">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <p>Copyright ©
                            <script>
                                document.write(new Date().getFullYear());
                            </script>2020
                            All rights reserved | This template is made with <i class="fa fa-heart-o"
                                aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        </p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->

    <script>
        function validName() {
            let val = document.getElementById('f1').value
            let mess = document.getElementById('ERR_1')
            if (val == '') {
                mess.innerHTML = "Fill the Fields"
                return false;
            }
            if (!val.match(/^[a-zA-Z]*$/)) {
                mess.innerHTML = 'Only Alphabets Are Allowed'
                return false;
            }
            mess.innerHTML = ""
            return true;
        }
        function validLname() {
            let val = document.getElementById('f2').value
            let mess = document.getElementById('ERR_2')
            if (val == '') {
                mess.innerHTML = "Fill the Fields"
                return false;
            }
            if (!val.match(/^[a-zA-Z]*$/)) {
                mess.innerHTML = 'Only Alphabets Are Allowed'
                return false;
            }
            mess.innerHTML = ""
            return true;
        }
        function validCountry() {
            let val = document.getElementById('f3').value
            let mess = document.getElementById('ERR_3')
            if (val == '') {
                mess.innerHTML = "Fill the Fields"
                return false;
            }
            if (!val.match(/^[a-zA-Z]*$/)) {
                mess.innerHTML = 'Only Alphabets Are Allowed'
                return false;
            }
            mess.innerHTML = ""
            return true;
        }
        function validStreet() {
            let val = document.getElementById('f4').value
            let mess = document.getElementById('ERR_4')
            if (val == '') {
                mess.innerHTML = "Fill the Fields"
                return false;
            }
            if (!val.match(/^[a-zA-Z]*$/)) {
                mess.innerHTML = 'Only Alphabets Are Allowed'
                return false;
            }
            mess.innerHTML = ""
            return true;
        }
        function validAP() {
            let val = document.getElementById('f5').value
            let mess = document.getElementById('ERR_5')
            if (val == '') {
                mess.innerHTML = "Fill the Fields"
                return false;
            }
            if (!val.match(/^[a-zA-Z]*$/)) {
                mess.innerHTML = 'Only Alphabets Are Allowed'
                return false;
            }
            mess.innerHTML = ""
            return true;
        }

        function validState() {
            let val = document.getElementById('f7').value
            let mess = document.getElementById('ERR_7')
            if (val == '') {
                mess.innerHTML = "Fill the Fields"
                return false;
            }
            if (!val.match(/^[a-zA-Z]*$/)) {
                mess.innerHTML = 'Only Alphabets Are Allowed'
                return false;
            }
            mess.innerHTML = ""
            return true;
        }
        function validPost() {
            let val = document.getElementById('f8').value
            let mess = document.getElementById('ERR_8')
            if (val == '') {
                mess.innerHTML = "Fill the Fields"
                return false;
            }
            if (!val.match(/^[0-9]/)) {
                mess.innerHTML = 'Only Numbers'
                return false;
            }
            mess.innerHTML = ""
            return true;
        }
        function validPhone() {
            let val = document.getElementById('f9').value
            let mess = document.getElementById('ERR_9')
            if (val == '') {
                mess.innerHTML = "Fill the Fields"
                return false;
            }
            if (!val.match(/^\d{10}$/)) {
                mess.innerHTML = 'Enter Valid Number'
                return false;
            }
            mess.innerHTML = ""
            return true;
        }
        function validEmail() {
            let val = document.getElementById('f10').value
            let mess = document.getElementById('ERR_10')
            if (val == '') {
                mess.innerHTML = "Fill the Fields"
                return false;
            }
            if (!val.match(/^\w+([\.-]?\w+)@\w+([\.-]?\w+)(\.\w{2,3})+$/)) {
                mess.innerHTML = 'Enter Valid Email'
                return false;
            }
            mess.innerHTML = ""
            return true;
        }
        function valid() {
            let billing=document.getElementById('billing')
            if(!billing.checked){
                return true
            }
            if (!validName() || !validLname() || !validCountry() || !validCountry() || !validStreet() || !validAP() || !validState() || !validPost() || !validPhone() || !validEmail()) {
                return false;
            }
            
            else {
                return true;
            }
        }
    </script>

    <!-- Js Plugins -->
    {{!--
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery.nicescroll.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html> --}}